
body{
    margin: 0;
   font-family: 'Open Sans', sans-serif;
    
}


.account-container{
    height: 400px;
    width: 400px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:10px ;
    margin: 20px;
    flex-direction: column;
    gap: 20px;
}

.account-container button{
    border: none;
    background-color: rgb(20, 45, 20);
    border-radius: 5px;
    padding: 10px;
    color:white;
}

.account{
    display: flex;
    align-items: center;
    justify-content: center;
}