

body{
    margin:0;
    
}

.main-container{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.signin-container{
    margin: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
}

.login{
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

.signin-container input{
height: 30px;
border: none;
display: flex;
border-bottom:1px solid black ;
}

.signin-container button{
    border: none;
    padding: 10px;
    border-radius: 50px;
    color: white;
    background-color: rgb(32, 32, 185);
}

.spanUp{
    color: green;
}

.spanUp a{
    color:inherit;
    text-decoration: none;
}